<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>

    <br />

    <% images.forEach((item) => { %>
        <img src="/uploads/<%= item.image %>" height="200" width="200" />
   <% }) %>
   <h1>hello</h1>

</body>
</html>